[user]
	email = contact@thomasice.com
	name = Tom Ice
[alias]
    # Display a pretty graph. Can invoke via "git ll"
    # "git ll -p" will show lines changed, too 
	ll = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
